#!/usr/bin/env bash
# Used by https://direnv.net

# Reload the devShell when these change
watch_file flake.nix nix/treefmt.nix nix/devshell.nix

# Load `nix develop` (installs git pre-commit hooks via shellHook)
use flake

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
